*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
monuments.db
# Visual Studio 2015
.vs/

Images/
Properties/PublishProfiles/MonumentsMap20200810132446 - Web Deploy.pubxml
Logs/*
appsettings.Development.json
appsettings.json
postgres-data/
certbot/
wordpress/
db_wordpress/
