{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=monumentsmap2;Username=postgres;Password=root"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "MailSettings": {
    "Mail": "--your mail here--",
    "DisplayName": "Monuments Map",
    "Password": "--your mail password here--",
    "Host": "smtp.gmail.com",
    "Port": 587
  },
  "ImageFilesParams": {
    "ImagesFolder": "Images",
    "AbsolutePath": false
  },
  "Auth": {
    "Jwt": {
      "Issuer": "http://localhost:5000/",
      "Audience": "http://localhost:5000/",
      "Key": "--your-unique-key--",
      "TokenExpirationInMinutes": 84600
    }
  },
  "Superuser": {
    "Mail": "--your user details here--",
    "Password": "--your user password here--"
  }
}
